<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorMe</title>
    <link rel ="stylesheet" href="/css/chooseLogin.css">
</head>
<body>
    <header>
            <h1 class="startOfPage">Log in</h1>
            <a href="/"><img src="/images/cross_mark.png" style="width: 50px; height: 50px;"></a>
    </header>

        <div class="chooseLogin">
            <div class="Student">
                <img src="/images/Student.png" style="width: 200px; height: 200px;">
                <h2>I am a Student</h2>
                <p>Have lessons, message your tutor or watch your lessons back</p>
                <a href="/students/login"><button type="button">Student log in</button></a>
            </div>

            <div class="vl"></div>

            <div class="Teacher">
                <img src="/images/Teacher.png" style="width: 200px; height: 200px;">
                <h2>I am a Tutor</h2>
                <p>Give lessons or manage bookings with your customers</p>
                <a href="/tutors/login"><button type="button">Tutor log in</button></a>
            </div>
        </div>
  
</body>

<footer>
      <p class="endOfPage">Need help? Call us on +39 123 456 78 90 or email us</p>
      <a href="/signup"><button type="button">Sign up</button></a>
  </footer>
</html>