<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorMe</title>
    <link rel ="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <div class="UpperPartOfPage">
            <div class="LeftPart">
                <h1 class="wrkOnTrms">Work on your terms</h1>
                <h1 class="BcmATtr">Become an <br> online tutor.</h1>
                <p>Flexible, fulfilling and fits into your schedule</p>
                <a href="/tutors/signup/"><button class="ApplyNow" type="button">Apply now</button></a>
            </div>
        
            <div class="RightPart">
                <img class="ImgInBody1" src="/images/Hotpot.png">
            </div>
        </div>


          <div class="SecondPartofPage">
            <div class="LeftSecondPart">
                <div class="item">
                  <h1>99<span style="font-size: 20px;">%</span></h1>
                  <p>5-star Reviews</p>
                </div>
                <div class="item">
                  <h1>A+</h1>
                  <p class="two-line">Educated<br>Tutors</p>
                </div>
                <div class="item">
                  <h1>DBS</h1>
                  <p>Background<br>Checked Tutors</p>
                </div>

                <div class="ImageSection">
                    <img src="/images/brush_stroke.png">
                </div>
            </div>
             

            <div class="RightSecondPart">
              <div class="ReviewItem">
                <h1 class="Review">TutorMe only accepts the<br>top 20% of applicants to<br>become tutors with us.</h1>
                
                <div class="ReviewPhoto">
                    <img src="/images/icon_father.png">
                    <div class="text-container">
                        <p>TutorMe provided excellent teachers who helped my
                            <br>achieve top A-Level results. She is now on her way to
                            <br>Oxford!</p>
                        <p><b>Mark S</b>, parent</p>
                </div>
              </div>
            </div>
          </div>


          
    </main>

    <main>
        <h1 style="text-align: center; font-size: 40px;">Trusted by thousands of students
            <br>and tutors across Italy.</h1>

            <div class="TutorsReviews">
                <div class="LeftReview" style="width: 50%; float:left">
                    <img class="EvgeniaImg" src="/images/Evgenia.png">
                    <div class="EvgeniaM">
                        <p><b>Evgenia M</b>
                        <span class="br"></span>
                            Chemistry tutor</p>
                        <img src="/images/rating-review.png" alt="">
                        <p style="margin-top: -7%;">Evgenia is an excellent tutor. She's very
                            <span class="br"></span>
                            friendly, patient and made topics I struggled
                            <span class="br"></span>
                            with easy to understand. Highly recommend
                            <span class="br"></span>
                            and look forward to more lessons with her.
                            <br>
                            <span class="br"></span>
                            <br><span style="color: rgb(140, 102, 175);">Katya S, student</span>
                        </p>
                    </div>
                </div>
                
                
                <div class="RightReview" style="width: 50%; float:right">
                    <img class="OlivierImg" src="/images/Olivier.png">
                    <div class="OlivierS" style="border-radius: 0 0 70px 0;">
                        <p><b>Olivier S</b>
                            <span class="br"></span>
                                Maths tutor</p>
                            <img src="/images/rating-review.png" alt="">
                            <p style="margin-top: -7%;">I feel like Ollie has hugely helped me out in my
                                <span class="br"></span>
                                studies; he has helped me revise for my mocks
                                <span class="br"></span>
                                and learn things I was not able to grasp in school.
                                <span class="br"></span>
                                Ollie keeps me interested in learning!
                                <br>
                                <span class="br"></span>
                                <br><span style="color: rgb(140, 102, 175);">Amelia H, student</span>
                            </p>

                    </div>
                </div>
            </div>
    </main>
     
</body>

<%- include('blocks/footer') -%>
</html>