<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel ="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <div class="UpperPartOfPage">
            <div class="LeftPart">
                <h1 class="wrkOnTrms">Work on your terms</h1>
                <h1 class="BcmATtr">Become an <br> online tutor.</h1>
                <p>Flexible, fulfilling and fits into your schedule</p>
                <button class="ApplyNow" type="button">Apply now</button>
            </div>
        
            <div class="RightPart">
                <img class="ImgInBody1" src="Hotpot.png">
            </div>
        </div>


          <div class="SecondPartofPage">
            <div class="LeftSecondPart">
                <div class="item">
                  <h1>99<span style="font-size: 20px;">%</span></h1>
                  <p>5-star Reviews</p>
                </div>
                <div class="item">
                  <h1>A+</h1>
                  <p class="two-line">Educated<br>Tutors</p>
                </div>
                <div class="item">
                  <h1>DBS</h1>
                  <p>Background<br>Checked Tutors</p>
                </div>

                <div class="ImageSection">
                    <img src="brush_stroke.png">
                </div>
            </div>
             

            <div class="RightSecondPart">
              <div class="ReviewItem">
                <h1 class="Review">TutorMe only accepts the<br>top 20% of applicants to<br>become tutors with us.</h1>
                
                <div class="ReviewPhoto">
                    <img src="icon_father.png">
                    <div class="text-container">
                        <p>TutorMe provided excellent teachers who helped my
                            <br>achieve top A-Level results. She is now on her way to
                            <br>Oxford!</p>
                        <p><b>Mark S</b>, parent</p>
                </div>
              </div>
            </div>
          </div>
        
    </main>
    
</body>
</html>