<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorMe</title>
    <link rel ="stylesheet" href="/css/chooseSignup.css">
</head>
<body>
    <header>
            <h1 class="startOfPage">Join us today!</h1>
            <a href="/"><img src="/images/cross_mark.png" style="width: 50px; height: 50px;"></a>
    </header>

    <div  class="chooseSignup">
        <main>
        <section>
            <h2>Who are you applying as?</h2>
        </section>
    </main>

            <div class="sub-container">
                <div class="leftPart">
                    <img src="/images/girlReading.png" style="width: 121px; height: 143px;">
                    <p>I want to be a<br><b>Student</b></p>
                    <a href="/students/signup/"><button type="button">Sign up</button></a>
                </div>
    
                <div class="vl"></div>
    
                <div class="rightPart">
                    <img src="/images/tutorHelps.png" style="width: 156px; height: 143px;">
                    <p>I want to be a<br><b>Tutor</b></p>
                    <a href="/tutors/signup/"><button type="button">Sign up</button></a>
                </div>
            </div>
            
        </section>
    </div>
    
  
</body>

<footer>
      <p class="endOfPage">Need help? Call us on +39 123 456 78 90 or email us</p>
  </footer>
</html>