<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorMe</title>
    <link rel ="stylesheet" href="/css/studentHomePage.css">
</head>

<header>
    
    <a href="/students/secure/home/"><img src="/images/TutorMe_logo.png" style="width:250px;height:50px;"> </a>
    <nav>
        <a href="/students/secure/home/">Home</a>
        <a href="/view-tutors/">Find a tutor</a>
        <a href="/students/secure/messages/">Messages</a>
        <a href="/students/secure/bookings/">Bookings</a>
    </nav>

    <p class="myProfile">My Profile</p>
    <img class="myProfile" src="/images/arrow_prof.png" style="width:48px;height:15px;">
    <a href="#students/secure/profile/"><img src="/images/studentProfile.png"  style="width:60px;height:55px;"></a>

</header>
<body>
    <h1>Hi there!<img src="/images/waving.png" style="width:35px;height:38px;"></h1>
    <main class="firstMain">
        
        <div class="Search">
            <img src="/images/magnGl.png" style="width:50px;height:45px;">
            <p><b>Find a Tutor</b><br>
         Browse tutor profiles and message a few you'd like to meet.</p>

        <p class="Subj"  style="margin-left: 500px;margin-top: -40px;">Subject</p>
         <div class="custom-select" style="width:200px;">
            
            <select  id="subjectSelect">
              <option value="0">All subjects</option>
              <option value="Biology">Biology</option>
              <option value="Chemistry">Chemistry</option>
              <option value="English">English</option>
              <option value="Math">Math</option>
              <option value="Physics">Physics</option>
            </select>
          </div>
          <button id="findTutorsButton"type="button">Find tutors</button>
         </div>
</main>
          <main class="secondMain">
            <div id="tutorList">
            <!-- Tutor information will be dynamically added here -->
            </div>

          </main>
          
          <script src="/scripts/my-script.js"></script>
         <script src="/scripts/selectedCourse.js"></script>
        


</body>


<!-- <%- include('blocks/footer') -%> -->
</html>



