<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorMe</title>
    <link rel ="stylesheet" href="/css/studentLogin.css">
</head>
<body>
    <header>
        <a href="/login"><img class="ArrowImg" src="/images/row_left.png" style="width: 60px; height: 10px;"></a>
        <h1 class="startOfPage">Student log in</h1>
        <a href="/"><img src="/images/cross_mark.png" style="width: 50px; height: 50px;"></a>
    </header>

        <div class="studentLogin">
            <div class="LeftPart">
                <img src="/images/Student.png" style="width: 200px; height: 200px;">
                <h2>I am a Student</h2>
                <p>Have lessons, message your tutor or watch your lessons back</p>
            </div>
            <div class="vl"></div>
            

            <form class="RightPart">
                <p>Email address</p>
                <span class="br"></span>
                <input class="email" placeholder="Type your email address">
                <p>Password</p>
                <span class="br"></span>
                <input class="passw" type="password" value="" id="myInput"><br><br>
                <input class="checkbox" type="checkbox" onclick="myFunction()">Show Password
                <br>
                <a href=""><button type="button">Log in</button></a>
            </form>

        </div>

        <script>
            function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
            </script>
  
</body>
<div class="vl"></div>
<footer>
      <p class="endOfPage">Need help? Call us on +39 123 456 78 90 or email us</p>
      <a href="/signup"><button type="button">Sign up</button></a>
  </footer>
</html>