<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorMe</title>
    <link rel ="stylesheet" href="/css/welcomePage.css">
</head>
<body>
    <div>
        <h1>Welcome!</h1>
        <img src="/images/successCheck.png">
        <p>Thank you for signing up as a student or tutor!
             We're delighted to have you join our community.
             Now, you can access a world of learning and teaching opportunities.
             Simply click the 'Login' button below to get started. Welcome aboard!
        </p>
        <a href="/login/"><button type="button">Log in</button></a>
    </div>
</body>
</html>