@font-face {
    font-family: "Alice";
    src: url(Alice-Regular.ttf);
  }

*{
    padding: 0;
    margin: 0;
    font-family: "Alice";
}

button{
    border-color: #001d20;
    background: #68d1db;
    color: #001d20;
    transition: transform 500ms ease;
}

body {
    background: #f7f2f8;
    color: #000000;
}

header{
    height: 30px;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    background:#f7f2f8;
    border-bottom: #fcfcfc;
}

header span{
    font-size: 25px;
    font-weight: bold;
    color: #fcfcfc;
}

header nav a{
    color: #1d1d1d;
    margin-right: 20px;
    text-decoration: none;
    float: right;
}

header nav{
    margin-right: -30%;
}

header nav a:hover{
    color: #1fbac8;
}

header input{
    border: 1px solid silver;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    padding: 7px 10px;
    margin-right: 10px;
    outline: none;
}

header input:focus{
    border-color: #dd5353;
}

header button{
    border: 1;
    border-width: thin;
    padding: 12px 16px;
    margin-right: 16px;
    font-size: 15px;
    border-radius: 8px;
    transition: transform 300ms ease;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.UpperPartOfPage{
    height: 412px;
    margin-left: 50px;
}

/* left div tag */
.LeftPart{
    float: left;
}

/* right dive tag */
.RightPart{
    margin-left: 60%;
}


/* h1 work on terms */
.wrkOnTrms{
    margin-top: 50px;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 599;
    line-height: 32px;
}

/* h1 Become a tutor */
.BcmATtr{
    margin-bottom: 10px;
    font-size: 96px;
    font-weight: 500;
    line-height: 88px;
}

main p{
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 24px;
}


/* button ApplyNow */
.ApplyNow{ 
    border: 1;
    border-width: thin;
    padding: 20px 24px;
    margin-right: 16px;
    font-size: 20px;
    transition: transform 300ms ease;
}


/* first image in body on the right side  .RightPart*/
.ImgInBody1{
    width: 412px;
    height:412px;
    text-align: right;
}

/*------------------------------------------------------- */

.SecondPartofPage {
    height: 400px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.LeftSecondPart h1 {
    font-size: 45px;
}

.LeftSecondPart p {
    font-size: 18px;
}

.LeftSecondPart {
    height: 100px;
    text-align: center;
    display: flex;
    flex:1;
}

.item {
    margin-left: 50px;
    margin-right: 50px;
    white-space: nowrap;
}

.ImageSection{
    margin-top: 170px;
    margin-left: -45%;
}

.ImageSection img{
    width: 400px;
    height: 200px;
    margin-left: 0;
}

.ReviewPhoto {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.RightSecondPart {
    flex-direction: column;
    flex:1;
    margin-left: -20%;
}
    
.RightSecondPart p{
    margin-left: 30px;
}
    
.RightSecondPart img{
    width: 50px;
    height: 50px;
}

.ReviewPhoto img {
    margin-right: 10px;
}

.ReviewPhoto .text-container {
    display: flex;
    flex-direction: column;
}

.ReviewPhoto p {
    margin: 0;
}

.ReviewPhoto p:last-child {
    margin-top: 10px;
}

/*------------------------------------------------------- */

.TutorsReviews{
    display: flex;
}

.LeftReview, .RightReview{
    margin-left: 40px;
    position: relative;
}


.EvgeniaM, .OlivierS{
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 30px;
    border-radius: 0 0 0 70px;
    background-color: #c5e9ed;
    height: 220px;
    width: 400px;   
}

.EvgeniaImg, .OlivierImg{
    position: absolute;
    padding-top: 100px;
    width: 100px;
    height: 104px;
    margin-left: 50px;
}

.EvgeniaM p, .OlivierS p{
    margin-left: 100px;
    padding-top: 20px;
    font-size: 13px;
}

.EvgeniaM img, .OlivierS img{
    position: absolute;
    width: 83px;
    height: 30px;
    margin-top: -7%;
    margin-left: 100px;
}

.br{
    display: block;
    margin-bottom: -0.5em;
}

/*------------------------------------------------------- */


.footer {
    height: 400px;
    background: #dfd9e0;
    display: flex;
    margin-top: 100px;
    border-top: 1px solid #d8d8d8;
  }

  .bottom-column-left, .bottom-column-right{
    margin-left: 50px;
    float:left;
    font-size: 15px;
    width: 33%;
    height: 160px;
    padding-top: 80px;
    padding-left: 20px;
    
  }

  footer p{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  .bottom-column-left a, .bottom-column-right a{
    margin-bottom: 20px;
    display: block;
    color: #1d1d1d;
    text-decoration: none;
  }

  .bottom-column-left nav,
.bottom-column-right nav {
  display: inline-block;
}

  footer nav a:hover{
    color: #1fbac8;
}


.ThirdFooterPart{
    text-align: center;
    width: 33%;
    float: left;
    padding-right: 70px;
    padding-top: 80px;
}

.ThirdFooterPart p{
    margin-bottom: 35px;
}

.ContactUs{ 
    border: 1;
    border-width: thin;
    border-radius: 5px;
    padding: 10px 14px;
    font-size: 17px;
    transition: transform 300ms ease;
}

.Media{
    display:flex;
    float: left;
    align-items: center;
}
.Inst, .FaceBook, .Twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border: 1px solid;
    margin-top: 30px;
    margin-left: 90px;
    transition: transform 300ms ease;
  }
  
  .Inst img, .FaceBook img, .Twitter img{
    height: 40px;
    width: 40px;
  }
