<footer class="footer">
    <div class="bottom-column-left">
      <p>TutorMe</p>
      <nav>
        <a href="#Home">Home</a>
        <a href="#About">About us</a>
        <a href="#Sitemap">Sitemap</a>
        <a href="#Blog">Blog</a>
        <a href="#Blog">Privacy Policy</a>
        <a href="#Blog">Terms of Service</a>
      </nav>

      <p style="font-weight:lighter; font-size: 10px; margin-top: 30px;">TutorMe © 2023. All rights reserved</p>
    </div>

    <div class="bottom-column-right ">
      <p>Support</p>
      <nav>
      <a href="#Home">FAQ</a>
      <a href="#About">Contact us</a>
      <a href="#Sitemap">Shipping</a>
      <a href="#Blog">Returns</a>
      </nav>
    </div>
    
    <div class="ThirdFooterPart">
        <h1>We're here to help</h1>
        <br>
        <p style="font-weight:lighter;">+39 123 456 78 90</p>
        <p style="font-weight:lighter; font-size: 15px;">support@tutorme.co.it</p>
        <button class="ContactUs" type="button">Contact Us</button>

        <div class="Media">
            <button class="Inst" type="button">
                <img src="/images/inst.png"></button>
            <button class="FaceBook" type="button" style="margin-left: 15px;">
                <img src="/images/facebook.png"></button>
            </button>
            <button class="Twitter" type="button" style="margin-left: 15px;">
                <img src="/images/twitter.png"></button>
            </button>
        </div>
    </div>
  </footer>