<header>
    
    <a href="/"><img src="TutorMe_logo.png" style="width:250px;height:50px;"> </a>
    <nav>
        <a href="/contact">Contact</a>
        <a href="/about">About us</a>
        <a href="/becomeAturor">Become a Tutor</a>
    </nav>
    <form method="post" action="/check-user">
        <!-- <input type="text" name="username" placeholder="User name">
        <button type="submit">Search</button> -->
        <button type="button">Sign-up</button>
        <button type="button">Log-in</button>
    </form>
</header>