<header>
    
    <a href="/"><img src="/images/TutorMe_logo.png" style="width:250px;height:50px;"> </a>
    <nav>
        <a href="#contact/">Contact</a>
        <a href="#about/">About us</a>
        <a href="#becomeAturor/">Become a Tutor</a>
    </nav>
    <!-- <form method="post" action="/check-user">    </form> -->
        <!-- <input type="text" name="username" placeholder="User name">
        <button type="submit">Search</button> -->
        <div>
            <a href="/signup/"><button type="button">Sign-up</button></a>
            <a href="/login/"><button type="button">Log-in</button></a>
        </div>


</header>